@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import './css/navbar.css';

.App {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#main-root {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 150px auto;
  grid-template-rows: 70px auto 60px;
  grid-template-areas:
    "nav messages-header"
    "nav messages"
    "nav message-functionality";
}

#main-root.admin {
  grid-template-areas:
    "nav admin"
    "nav admin"
    "nav admin";
}

#admin {
  grid-area: admin;
}

#messages-header {
  grid-area: messages-header;
}

#messages-header-para {
  text-align: start;
}

#messages {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-top: 10px;
}

#messages::-webkit-scrollbar {
 display: none;
}

.dark {
  background-color: #17141D !important;
  color: white;
}

.light {
  background-color: white !important;
  color: black;
}

#message-functionality-container {
  grid-area: message-functionality;
  display: flex;
}

#message-functionality {
  display: flex;
  background-color: #17141D;
  color: white;
  width: 80%;
  margin: auto;
}

.container > button {
  background-color: #17141D;
  color: white;
}

.user-message-container {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.user-message {
  width: fit-content;
  max-width: 45%;
  word-wrap: break-word;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  color: black;
  border-radius: 8px 0 8px 8px;
  margin: 5px 5px 5px auto;
  padding: 0 20px;
}

.user-message p {
  margin: 1px;
}

.bot-message-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.bot-message {
  width: fit-content;
  max-width: 45%;
  word-wrap: break-word;
  border: 2px solid #ACB9CC;
  background-color: #ACB9CC;
  color: black;
  border-radius: 0 8px 8px 8px;
  margin: 5px auto 5px 5px;
  padding: 0 20px;
}

.bot-message p {
  margin: 1px;
}

.chat-circle {
  background-color: #17141D;
  margin-bottom: 5px;
}

#settings {
  color: black;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.messages-header-banner {
  margin: 5px 10% 0 10%;
  display: flex;
  vertical-align: middle !important;
}

#messages-header hr {
  margin: 0;
}

.messages-header-banner img {
  margin-right: 10px;
}

#notification {
  position: absolute;
  top: 3px;
  right: 6px;
  height: fit-content;
  width: fit-content;
}

#notification p {
  margin: 0;
}

#error-message {
  margin: 0;
}

#listening {
  margin: 0 10% 0 0;
}

@media only screen and (max-width: 768px) {
  .modal-card-width {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #main-root {
    grid-template-columns: auto;
    grid-template-rows: 70px 56px auto 60px;
    grid-template-areas:
      "nav"
      "messages-header"
      "messages"
      "message-functionality";
  }

  #main-root.active-nav {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "nav"
      "mobile-nav";
  }

  #main-root.admin {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "nav"
      "admin";
  }

  #message-functionality {
    width: 95%;
    margin: auto auto;
    justify-content: space-between;
  }

  #message-buttons-container {
    margin: 0 25px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
  }

  #buttons {
    margin: 20px 0 20px 2.5px !important;
    width: fit-content !important;
    white-space: nowrap !important;
  }

  .user-message {
    margin: 5px 5px 5px auto;
  }

  .bot-message {
    margin: 5px auto 5px 5px;
  }

  #messages-header-para {
    margin: 0;
  }

  .user-message-container {
    margin-right: 5px;
  }

  .bot-message-container {
    margin-left: 5px;
  }

  .messages-header-banner {
    margin: 5px 0 0 0;
  }

  .modal-card-width {
    width: 60%;
  }

  #notification {
    left: 150px;
  }

  #listening {
    margin: 0 10px 0 0;
  }
}


