@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import './css/navbar.css';

.App {
  text-align: center;
}

#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: auto 80vw;
  grid-template-rows: 70px auto 60px;
  grid-template-areas:
    "nav messages-header"
    "nav messages"
    "nav message-functionality";
}

#messages-header {
  grid-area: messages-header;
}

#messages-header-para {
  text-align: start;
  margin: 5px 10% 0 10%;
}

#messages {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-top: 10px;
}

#messages::-webkit-scrollbar {
 display: none;
}

.dark {
  background-color: #17141D !important;
  color: white;
}

.light {
  background-color: white !important;
  color: black;
}

#message-functionality-container {
  grid-area: message-functionality;
}

#message-functionality-container hr {
  margin: 0 auto 7.5px;
}

#message-functionality {
  display: flex;
  background-color: #17141D;
  color: white;
  width: 80%;
  margin: auto;
}

.container > button {
  background-color: #17141D;
  color: white;
}

.user-message {
  width: fit-content;
  max-width: 45%;
  word-wrap: break-word;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  color: black;
  border-radius: 8px 0 8px 8px;
  margin: 5px 10% 5px auto;
  padding: 0 20px;
}

.bot-message {
  width: fit-content;
  max-width: 45%;
  word-wrap: break-word;
  border: 2px solid #ACB9CC;
  background-color: #ACB9CC;
  color: black;
  border-radius: 0 8px 8px 8px;
  margin: 5px auto 5px 10%;
  padding: 0 20px;
}

#settings {
  color: black;
}

@media only screen and (max-width: 600px) {
  #root {
    grid-template-columns: auto;
    grid-template-rows: 70px 60px auto 60px;
    grid-template-areas:
      "nav"
      "messages-header"
      "messages"
      "message-functionality";
  }

  #message-functionality {
    width: 100%;
  }

  #message-buttons-container {
    margin: 0 25px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
  }

  #buttons {
    margin: 20px 0 20px 2.5px !important;
    width: fit-content !important;
  }

  .user-message {
    margin: 5px 5px 5px auto;
  }

  .bot-message {
    margin: 5px auto 5px 5px;
  }

  #messages-header-para {
    margin: 5px 0 0 0;
  }

  #messages {
    margin-top: 15px;
  }
}


