@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import './css/navbar.css';
@import './css/voice.css';
@import './css/messages.css';
@import './css/settings.css';

.App {
  text-align: center;
}

html {
  overflow: hidden;
}

#main-root {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 150px auto;
  grid-template-rows: 70px auto 60px;
  grid-template-areas:
    "nav messages-header"
    "nav messages"
    "nav message-functionality";
}

#main-root.admin {
  grid-template-areas:
    "nav admin"
    "nav admin"
    "nav admin";
}

#admin {
  grid-area: admin;
}

.dark {
  background-color: #17141D !important;
  color: white;
}

.light {
  background-color: white !important;
  color: black;
}

.container > button {
  background-color: #17141D;
  color: white;
}

#notification {
  position: absolute;
  top: 3px;
  right: 6px;
  height: fit-content;
  width: fit-content;
}

#notification p {
  margin: 0;
}

#error-message {
  margin: 0;
}

#listening {
  margin: 0 10% 0 0;
}

#voice-modal-text {
  color: black;
}

.voice-button {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#send-button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.info-window {
  color: black;
}

.form-input {
  margin-bottom: 10px;
}

.field {
  display: flex;
  justify-content: center;
}

.title-dark {
  color: black;
}

.map {
  margin: 10px 10% 10px 10px;
  height: 500px;
  width: available;
}

.intent-paragraphs {
  color: black;
  margin-bottom: 2px;
  margin-left: 10px;
  text-align: start;
}

.intent-modal-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intent-input {
  width: 100%;
  margin-bottom: 5px;
}

.intent-footer-buttons {
  display: flex;
  flex-direction: row;
}

.intent-success-button {
  width: 60%;
}

.intent-cancel-button {
  width: 40%;
}

.button:hover {
  transition: 0.3s;
  border: 2px solid black;
}

.message-buttons {
  margin: 2px;
  width: fit-content;
  white-space: normal;
  word-wrap: break-word;
  font-weight: 500;
}

.navbar-div {
  height: 70px;
}

.navbar-div-heading {
  min-height: 53px;
  max-height: 53px;
}

.menu-icon {
  cursor: pointer;
}

.messages-header-div {
  display: flex;
  justify-content: space-between;
}

.messages-header-em {
  font-weight: bold;
}

#listening {
  display: flex;
  align-items: center;
}

#input-message {
  width: 100%;
}

.bot-message {
  min-height: 30px;
}

.admin-model-table-p {
  width: 80%;
  text-align: start;
  margin: 2.5px 5px;
}

#models-table {
  height: max-content;
  overflow-y: scroll;
}

#intents-table {
  height: max-content;
  overflow-y: scroll;
}

.admin-tr-intent-row {
  cursor: pointer;
}

.admin-incorrect-button {
  width: fit-content;
  margin: 2px 2px 2px 0;
}

#admin {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  align-items: stretch;
}

.admin-retrain-button {
  width: 25%;
  margin: 20px auto;
  padding: 10px;
}

.admin-hr {
  margin: 0;
}

.admin-table-head {
  position: sticky;
  top: 0;
  background: #EAEAEA;
  z-index: 100;
}

.admin-table-container {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#incorrect-responses-table {
  height: max-content;
  overflow-y: scroll;
}

.table {
  margin: 0;
}

.clear-messages-button {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .modal-card-width {
    width: 60%;
  }

  #message-buttons-container {
    margin: 0;
    margin-right: 20% !important;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #buttons {
    margin: 20px 0 20px 2.5px !important;
    width: fit-content !important;
    white-space: nowrap !important;
  }

  #messages {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 600px) {
  #main-root {
    grid-template-columns: auto;
    grid-template-rows: 70px 56px auto 60px;
    grid-template-areas:
      "nav"
      "messages-header"
      "messages"
      "message-functionality";
  }

  #main-root.active-nav {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "nav"
      "mobile-nav";
  }

  #main-root.admin {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "nav"
      "admin";
  }

  #message-functionality {
    width: 95%;
    margin: auto auto;
    justify-content: space-between;
  }

  #message-buttons-container {
    margin: 0;
    margin-right: 10% !important;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #buttons {
    margin: 20px 0 20px 2.5px !important;
    width: fit-content !important;
    white-space: nowrap !important;
  }

  .user-message {
    margin: 5px 5px 5px auto;
    width: 100% !important;
  }

  .bot-message {
    margin: 5px auto 5px 5px;
    width: 100% !important;
  }

  #messages-header-para {
    margin: 0;
  }

  .user-message-container {
    margin-right: 5px;
  }

  .bot-message-container {
    margin-left: 5px;
  }

  .messages-header-banner {
    margin: 5px 0 0 0;
  }

  .modal-card-width {
    width: 60%;
  }

  #notification {
    left: 150px;
  }

  #listening {
    margin: 0 10px 0 0;
  }

  .image {
    width: 93% !important;
  }
}


